.glyphs.character-mapping {
    margin: 0;
    padding: 0;
    border: none;
}

.glyphs.character-mapping li {
    margin: 0;
    display: inline-block;
    width: 90px;
    border-radius: 4px;
}

.glyphs.character-mapping .icon {
    margin: 10px 0 10px 15px;
    padding: 15px;
    position: relative;
    width: 55px;
    height: 55px;
    color: #398FF7 !important;
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 32px;
}

.glyphs.character-mapping .icon svg {
    fill: #398FF7;
}

.glyphs.css-mapping {
    margin: 0 0 60px 0;
    padding: 30px 0 20px 30px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
